@-webkit-keyframes manifestSquare {
	0% {
		top: 200px;
		opacity: 0;
		border-radius: 50%;
	}

	50% {
		top: 100px;
		opacity: 1;
		border-radius: 50%;
	}

	100% {
		top: 100px;
		opacity: 1;
		border-radius: 0;
	}
}
@keyframes manifestSquare {
	0% {
		top: 200px;
		opacity: 0;
		border-radius: 50%;
	}

	50% {
		top: 100px;
		opacity: 1;
		border-radius: 50%;
	}

	100% {
		top: 100px;
		opacity: 1;
		border-radius: 0;
	}
}

/* Same animation as above but designed to accommodate the different circle sizes on mobile. */
@-webkit-keyframes manifestSqMobile {
	0% {
		top: 120px;
		opacity: 0;
		border-radius: 50%;
	}

	50% {
		top: 60px;
		opacity: 1;
		border-radius: 50%;
	}

	100% {
		top: 60px;
		opacity: 1;
		border-radius: 0;
	}
}
@keyframes manifestSqMobile {
	0% {
		top: 120px;
		opacity: 0;
		border-radius: 50%;
	}

	50% {
		top: 60px;
		opacity: 1;
		border-radius: 50%;
	}

	100% {
		top: 60px;
		opacity: 1;
		border-radius: 0;
	}
}

h1 {
	font-size: 2.4rem;
	margin-top: 100px;
	margin-bottom: 10px;
}

h3 {
	font-size: 1.4rem;
	margin-bottom: 50px;
}

h5 {
	font-size: 1rem;
	margin-top: 50px;
	margin-bottom: 1em;
	text-decoration: underline;
}

ul {
	list-style: none;
	padding: 0;
}

ul li {
	margin-bottom: 1em;
	font-size: 1rem;
}

html,
body {
	background: #000;
	font-family: Open Sans, sans-serif;
	font-weight: 600;
	color: #fff;
	text-align: center;
	font-size: 14px;
}

@media only screen and (max-width: 800px) {
	html,
    body {
		padding: 0 20px;
		background: #fff;
		color: #000;
		font-size: 12px;
	}
}

.main-row,
.second-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 800px;
	-webkit-box-pack: space-evenly;
	    -ms-flex-pack: space-evenly;
	        justify-content: space-evenly;
	margin: 0 auto;
	height: 200px;
	pointer-events: none;
}

.main-row:hover .circle,
  .second-row:hover .circle {
	opacity: 0.5;
}

@media only screen and (max-width: 800px) {
	.main-row,
    .second-row {
		width: 100%;
		height: 120px;
	}
}

.main-row .circle,
  .second-row .circle {
    /* The order I use is typically: element styles, state styles(hover, active, etc.), psuedo element styles, extra classes, and finally child elements. You will notice that this circle class follows the same pattern. */
	height: 100px;
	width: 100px;
	border-radius: 50%;
	position: relative;
	pointer-events: auto;
	-webkit-transition: opacity 0.3s ease-in-out;
	-o-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

@media only screen and (max-width: 800px) {
	.main-row .circle,
      .second-row .circle {
		height: 60px;
		width: 60px;
	}
}

.main-row .circle:hover,
    .second-row .circle:hover {
	opacity: 1;
	cursor: pointer;
}

.main-row .circle:hover .color-info,
      .second-row .circle:hover .color-info {
	top: 100px;
	opacity: 1;
}

@media only screen and (max-width: 800px) {
	.main-row .circle:hover .color-info,
          .second-row .circle:hover .color-info {
		top: 60px;
	}
}

.main-row .circle.red-shape,
    .second-row .circle.red-shape {
	background: #ff0000;
	color: #ff0000;
}

.main-row .circle.green-shape,
    .second-row .circle.green-shape {
	background: #00ff00;
	color: #00ff00;
}

.main-row .circle.blue-shape,
    .second-row .circle.blue-shape {
	background: #0000ff;
	color: #0000ff;
}

.main-row .circle.orange-shape,
    .second-row .circle.orange-shape {
	background: #ffb200;
	color: #ffb200;
}

.main-row .circle.yellow-shape,
    .second-row .circle.yellow-shape {
	background: #faff00;
	color: #faff00;
}

.main-row .circle .color-info,
    .second-row .circle .color-info {
	width: 100%;
	text-align: center;
	height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 800px) {
	.main-row .circle .color-info,
        .second-row .circle .color-info {
		color: black;
	}
}

.main-row {
	margin-top: 50px;
}

.second-row .circle {
	top: 100px;
	opacity: 1;
	border-radius: 0;
	-webkit-animation: manifestSquare 1.5s ease-in-out;
	        animation: manifestSquare 1.5s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

@media only screen and (max-width: 800px) {
	.second-row .circle {
		top: 60px;
		-webkit-animation: manifestSqMobile 1s ease-in-out;
		        animation: manifestSqMobile 1s ease-in-out;
	}
}

.second-row .circle:hover {
	border-radius: 50%;
}

.second-row .circle:hover .color-info {
	top: -100px;
}

@media only screen and (max-width: 800px) {
	.second-row .circle:hover .color-info {
		top: -60px;
	}
}

.xtra-links a {
	display: inline-block;
	margin: 20px 30px;
}
